/* Reset some default styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
}

.header-content {
    text-align: center;
    padding: 2rem;
    background-color: #007BFF;
    color: #fff;
}

header h1 {
    font-size: 2rem;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

section {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

ul {
    list-style: none;
    margin-left: 20px;
    padding-left: 0;
}

ul li {
    margin-bottom: 5px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
 }
 
 body {
    margin: 0;
    padding: 30px 0;
    font-family: 'Roboto', sans-serif;
    background: #F1F2F6;
 }
 
 h1 {
    text-align: center;
    font-weight: 300;
    color: #777
 }
 
 h1 span {
    font-weight: 600;
 }
 
 /* work experience css */
 .work-container {
    width: 80%;
    padding: 50px 0;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
 }
 
 .work-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #CCD1D9;
    z-index: 1;
 }
 
 .timeline-block {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
 }
 
 .timeline-block-right {
    float: right;
 }
 
 .timeline-block-left {
    float: left;
    direction: rtl
 }
 
 .marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid black;
    background: white;
    margin-top: 10px;
    z-index: 40
 }
 
 .timeline-content {
    width: 95%;
    padding: 0 15px;
    color: black;
 }
 
 .timeline-content h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 500;
 }
 
 .timeline-content span {
    font-size: 15px;
    color: #a4a4a4;
 }
 
 .timeline-content p {
    font-size: 14px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: black;
 }
 
 
 @media screen and (max-width: 768px) {
    .work-container:before {
       left: 8px;
       width: 2px;
    }
    .timeline-block {
       width: 100%;
       margin-bottom: 30px;
    }
    .timeline-block-right {
       float: none;
    }
 
    .timeline-block-left {
       float: none;
       direction: ltr;
    }
 }
 